@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
Fact {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #FFFFDB;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    color: darkgreen;
    font-family: 'Libre Baskerville', serif;
}

.facts {
    font-family: 'Raleway', sans-serif;
}

img {
    transform: translate(-50%, -10%);
    width: 200vh;
    z-index: 1;
    position: absolute;
}

